@font-face {
    font-family: 'BebasNeue';
    src: url('./assets/fonts/BebasNeue.otf');
}

@font-face {
    font-family: 'CaviarDreams';
    src: url('./assets/fonts/CaviarDreams.ttf');
}
body {
    background-color: rgba(0, 0, 0, 0.1);
}
.container{
    display: flex;
    flex-direction: column;
    &-image{
        margin:0 auto;
        img{
            content: url('./assets/portadamovil.png');
        }
    }
    &-text{
        margin:0 auto;
        &__intro{
            text-align: center;
            h1{
                font-family: 'BebasNeue';
                font-weight: 100;
                font-size: 100px;
                letter-spacing: 10px;
                margin:15px auto;
                opacity: 0.8;
            }
            p{
                font-family: 'CaviarDreams';
                font-size: 10px;
                font-weight: bold;
                text-align: justify;
                text-align-last: center;
                margin: 10px auto;
                width:100%;
            }
            span{
                font-family: 'BebasNeue';
                opacity: 0.8;
                letter-spacing: 3px;
            }
            .link{
                font-family: 'BebasNeue';
                color: black;
                font-size: 12px;
                opacity: 0.8;
            }
        }
        &__portafolio{
            text-align: center;
            margin:50px auto;
            h3{
                font-family: 'CaviarDreams';
                font-size: 12px;
                letter-spacing: 5px;
                padding:0;
                opacity: 0.8;
            }
            ul{
                list-style-type: none;
                margin:20px auto;
                padding: 0;
                li{
                    display: inline;
                    a{
                        margin: 20px;
                    }
                }
            }
        .email{
                font-family: 'BebasNeue';
                font-size: 40px;
                margin-top:100px;
                margin-left: auto;
                margin-right: auto;
                a{
                    color: black;
                    opacity: 0.8;
                }
                p{
                    font-family: 'CaviarDreams';
                    font-size: 12px;
                    letter-spacing: 5px;
                    padding:0;
                    opacity: 0.8;
                    font-weight: bold;
                }
            }
        }
        &__servicios{
            text-align: center;
            width: 70%;
            margin: 50px auto 0 auto;
            p{
                font-family: 'CaviarDreams';
                font-size: 13px;
                font-weight: bold;
                text-align: justify;
                text-align-last: center;
                margin: 40px auto;
            }
            .masservicios{
                font-family: 'BebasNeue';
                font-weight: 100;
            }
            h3{
                font-family: 'CaviarDreams';
                opacity: 0.8;
                font-weight: 900;
                letter-spacing: 3px;
            }
        }
        hr{
            border-top: 1px solid black;
            max-width: 60%;
        }
    }
}

@media only screen and (min-width: 992px) {
    .container{
        display: flex;
        flex-direction: row;
    }
}